
* {
  font-family: "Helvetica", "Arial", "san-serif")
}

body {
  padding-left: 30px;
  padding-right: 30px;
}

header {
  height: 100px;
  border-bottom: 1px solid #CCCCCC;
}

header nav {
  float:right;
}

nav ul {
  padding: 0px;
  margin-top: 40px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}
